<h2 class="center">{{ "Favorites.Favorites movies" | translate}}</h2>
<div class="SearchForm">
  <div class="row justify-content-lg-center">
    <div class="col-8">
        <input required type="text" class="form-control" placeholder="{{ 'Favorites.Filter by title, year, rating or genre' | translate}}" [(ngModel)]="Filter" name="SearchTitle">
    </div>
    <div class="col-4">
      <select class="form-control" [(ngModel)]="Order" name="SearchType">
        <option value="">{{ "Favorites.Order by nothing" | translate}}</option>
        <option value="Title">{{ "Favorites.Order by Title" | translate}}</option>
        <option value="Year">{{ "Favorites.Order by Year" | translate}}</option>
        <option value="Rating">{{ "Favorites.Order by Rating" | translate}}</option>
        <option value="Genre">{{ "Favorites.Order by Genre" | translate}}</option>
      </select>
    </div>
  </div>
</div>
<hr><br>
<div class="row justify-content-center">
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let movie of movies | filterBy:['Title','Year','Rating','Genre']:Filter | orderBy: [Order]">
    <app-movie-card [MovieInput]="movie"></app-movie-card>
  </div>
</div>
